h1{
	color: #d65c85;
	font-size: 86px;
	font-family: "Georgia", sans-serif;
}

#subtitle{
	color: #FCE8E8;
	font-size: 48px;
	font-family: "Georgia", sans-serif;
}

#lname{
	margin-left: 5%;
	color: #8f2447;
	font-size: 30px;
	font-family: "Georgia", sans-serif;
}

#styleMe{
	color: #FCE8E8;
	font-size: 40px;
	font-family: "Georgia", sans-serif;

}

#style{
	color: #d65c85;
	font-size: 40px;
	font-family: "Georgia", sans-serif;
}

#normFeel{
	margin-left: 5%;
	color: #8f2447;
	font-size: 30px;
	font-family: "Georgia sans-serif;
}

#choice{
	margin-left: 5%;
	color: #8f2447;
	font-size: 30px;
	font-family: "Georgia", sans-serif;
}

#forum{
		color: #d65c85;
	font-size: 30px;
	font-family: "Georgia", sans-serif;
}

#stylebutton{
	color:#d65c85;
}

#reviewbutton{
	color: #FCE8E8;
}

#lizziegif{
	border-style: dashed;
	border-color: #8f2447;
	padding: 7px;
	border-spacing: 5px;

}

